In [1]:
# Environment Setup
# ----------------------------------------------------------------
# Dependencies
import csv
import pandas as pd
import random
import numpy as np
import string
from faker import Faker
fake = Faker()

# Output File Names
file_output_city_csv = "generated_data/city_data.csv"
file_output_rides_csv = "generated_data/ride_data.csv"

# Generator Conditions (Change as needed)
# ----------------------------------------------------------------
rough_ride_count = 2500
rough_driver_count = 950
city_count = 120
city_types = [
    {
        "type": "Urban",
        "fare_range": (4, 45),
        "percent_of_rides": 0.65,
        "percent_of_drivers": 0.65,
        "percentage_of_cities": 0.55
    },
    {
        "type": "Suburban",
        "fare_range": (12, 50),
        "percent_of_rides": 0.25,
        "percent_of_drivers": 0.25,
        "percentage_of_cities": 0.35
    },
    {
        "type": "Rural",
        "fare_range": (10, 60),
        "percent_of_rides": 0.05,
        "percent_of_drivers": 0.10,
        "percentage_of_cities": 0.15
    }
]

ModuleNotFoundError: No module named 'faker'

In [2]:
# Create a CSV of city data 
# City | Driver_Count | Type

# List will hold the final set of city data 
cities_data = []

# Calculate the driver count for each city type
for city_type in city_types:
    city_type["total_drivers"] = int(city_type["percent_of_drivers"] * rough_driver_count)
    city_type["city_count"] = int(city_type["percentage_of_cities"] * city_count)
    
    # Use the driver count to create a set number of fake cities each given a random number of drivers
    for city in range(city_type["city_count"]):
        cities_data.append({"city": fake.city(), 
                       "type": city_type["type"], 
                       "driver_count": np.random.randint(1, city_type["total_drivers"] * 0.12)})


# Convert the city data into a DataFrame    
cities_pd = pd.DataFrame(cities_data)

# Export the city data to a csv 
cities_pd.to_csv(file_output_city_csv, index=False)

cities_pd.head()

NameError: name 'city_types' is not defined

In [27]:
# Create a CSV of ride data
# Ride ID | City | Date | Fare | 

# List will hold all the final set of rides
rides = []

# Loop through all city types
for city_type in city_types:
    
    # Determine the total rides for each city type
    city_type["total_rides"] = int(city_type["percent_of_rides"] * rough_ride_count)
    
    # Choose a city from that city type at random to distribute the rides across cities
    for ride in range(city_type["total_rides"]):
        
        # Create a list of dictionaries for each ride
        rides.append({"ride_id": fake.ean13(), 
                      "date": fake.date_time_this_year(), 
                      "city": np.random.choice(cities_pd[cities_pd["type"] == city_type["type"]]["city"]), 
                      "fare": round(np.random.uniform(city_type["fare_range"][0], city_type["fare_range"][1]), 2)})

# Convert the ride list into a data frame
rides_pd = pd.DataFrame(rides)

# Export the ride data to a csv
rides_pd.to_csv(file_output_rides_csv, index=False)

rides_pd.head()

                city                date   fare        ride_id
0   South Denisefort 2016-05-12 02:13:09  30.00  3805967310653
1           Parkport 2016-04-26 23:29:55   9.60  6109206352303
2         Denisefurt 2016-03-20 05:16:02  16.99  2301173462403
3  East Robinchester 2016-04-26 14:39:45  27.91  1815738910830
4     Mullinschester 2016-02-12 19:04:55  28.84  7528234108888

In [28]:
rides_pd.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [6]:
#read ride data
import os
import csv
csvpath = os.path.join('generated_data', 'ride_data.csv')
rider_data = pd.read_csv(csvpath)

rider_data

                    city                 date   fare        ride_id
0              Karenfurt  2017-01-01 19:03:03  32.90  3383346995405
1         Melissaborough  2017-01-01 08:55:58  19.59  2791839504576
2        Port Sandraport  2017-01-01 16:21:54  31.04  3341437383289
3            Curtismouth  2017-01-03 06:36:53  15.12  6557246300691
4           Port Michael  2017-01-03 09:56:52  19.65  9887635746234
5             Mathewfurt  2017-01-01 10:14:32  31.13  7748828672001
6         New Shawnville  2017-01-02 02:22:33  33.50  2866006632892
7         Melissaborough  2017-01-02 18:40:34  17.73  6817245215298
8         Port Stacyfort  2017-01-03 12:25:25  30.22  4258832825186
9            Port Albert  2017-01-02 13:32:21   7.59  1130658609474
10            East James  2017-01-02 02:41:06  18.80  4329054820270
11      Lake Charlesside  2017-01-01 15:39:52  23.07  4878544652230
12       Port Sandraport  2017-01-03 04:45:50  21.76  3843410738487
13       Port Angelaberg  2017-01-01 18:06:47  36.96  1865832814077
14          North Sandra  2017-01-01 04:08:41  26.51  7756758482027
15           Theresaland  2017-01-02 14:29:52   8.25  1386713423930
16         New Katherine  2017-01-02 01:42:33  40.33  1451834829951
17          North Sandra  2017-01-01 09:23:55   4.13  3416962559635
18           Michaelfurt  2017-01-03 11:13:07  21.65  4271966692653
19     Port Brianborough  2017-01-01 07:45:22  22.24  4183092933909
20         New Jasonfort  2017-01-01 11:28:00  43.59  5153715514364
21           Marychester  2017-01-02 22:03:56   8.14  3140071741529
22            Floresbury  2017-01-02 18:27:27   6.26  4595703263693
23         New Catherine  2017-01-03 01:39:26   8.22  8821000905278
24       Lake Robertstad  2017-01-02 23:04:07  23.07  9867571439858
25           Marychester  2017-01-02 23:19:23  35.58  5373381903655
26       Port Angelaberg  2017-01-01 01:55:09  27.68  1460259070213
27            Evansburgh  2017-01-02 20:06:03   8.21  7884566155588
28           Markborough  2017-01-01 20:26:05  38.39  8027740349741
29        New Shawnville  2017-01-02 11:33:35   7.63  1493646380633
...                  ...                  ...    ...            ...
2345  South Samanthafurt  2017-01-02 05:00:43  21.80  2915475971213
2346       South Stephen  2017-01-02 20:17:41  40.19    67315427663
2347          Joshuaview  2017-01-02 18:39:49  26.27  7667581579559
2348      South Brittany  2017-01-02 23:08:44  11.56  1094056539538
2349   Richardsonborough  2017-01-02 21:25:55  43.50  1118942722115
2350          Joshuaview  2017-01-02 16:31:02  53.56  8887666980431
2351         Nguyenshire  2017-01-01 17:22:28  44.81  8465533559234
2352           Hoganfort  2017-01-03 12:15:48  19.35   685572928589
2353          Smithville  2017-01-02 22:48:22  15.59  3457119394822
2354       Campbellmouth  2017-01-02 04:51:17  48.72  6830368098258
2355        South Angela  2017-01-03 06:54:00  45.87  3856930882264
2356       Campbellmouth  2017-01-02 23:54:28  39.70  8261825662763
2357        South Angela  2017-01-03 05:44:30  15.63  3062396769418
2358      South Brittany  2017-01-02 18:04:04  16.11  2930708191671
2359        Port Kenneth  2017-01-02 17:53:18  47.96   483247658218
2360    Lake Joshuaburgh  2017-01-01 19:42:11  50.80  8665196844092
2361        Port Kenneth  2017-01-03 11:11:56  19.67  6543139761151
2362    Lake Joshuaburgh  2017-01-01 03:15:02  20.93  4097179481897
2363         Nguyenshire  2017-01-02 05:55:31  13.91  2192972043036
2364        Sheltonhaven  2017-01-02 22:34:53  21.25  6231484957991
2365     South Jacobside  2017-01-01 09:59:41  50.25  9699456082855
2366           Hoganfort  2017-01-01 04:12:33  24.47  8232643860877
2367          Joshuaview  2017-01-01 17:25:15  15.96  1286771004334
2368       Port Jameston  2017-01-03 04:24:18  36.25  5163769778742
2369        South Angela  2017-01-02 02:16:23  44.93   251070273676
2370      South Brittany  2017-01-03 12:15:51  47.94  9037804247547
2371        Port Kenneth  2017-01-02 19:48:17  12.78  4395919442642
2372          Joshuaview  2017-01-01 19:03:08  39.51  4530903955177
2373   Richardsonborough  2017-01-02 02:02:20  40.41  4241659291104
2374       Port Jameston  2017-01-01 07:34:45  27.85  9353843647545

[2375 rows x 4 columns]

In [7]:
#Calculate the following
# Average Fare per City
# Total Number of Rides per City
# Total Number of Drivers per City
# City Type

In [2]:
#create a group based on city
city_groups = rider_data.groupby('city')

city_group = city_groups['city'].count()

NameError: name 'rider_data' is not defined

In [ ]:
Count_ridesbyCity = pd.DataFrame(rider_data.groupby('City')['ride_id'].count())
Count_driversbyCity['% of Players'] = Count_PlayersbyGen['Gender']/total_players * 100
Count_PlayersbyGen.rename(columns = {'Gender':'Number of Players'},inplace=True)
Count_PlayersbyGen